<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test Task Vue.js</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
  	<div id = 'app'>
  		<div class="container">
  			<div class="columns is-centered">
  				<div class="column is-6">
		  			<div class="box">
		  				{{playerName}}
		  				<progress :value="playerHP" :class="{'is-danger': playerIsIll}" class="progress is-large" max="100">15%</progress>
		  			</div>  					
  				</div>

  				<div class="column is-6">
		  			<div class="box">
		  				{{monsterName}}
		  				<progress :value="monsterHP" :class="{'is-danger': monsterIsIll}"  class="progress is-large" value="100" max="100">15%</progress>
		  			</div>  					
  				</div> 
  			</div>

  			<div class="columns is-centered">
  				<div class="column is-6 has-text-centered">
  					<a v-if="!gameOver" class="button" @click="gameTurn">Атаковать!</a>
  					<a v-if="!gameOver" class="button" @click="giveUp">Сдаться!</a>
  				</div>
	  		</div>

	  		<div v-if="gameOver" class="notification has-text-centered">
	  			<p v-if="playerHP <= 0">{{playerName}}, вы здохли!</p>
	  			<p v-else-if="monsterHP <= 0">Монстр {{monsterName}} здох! {{playerName}}, вы выиграли!</p>
	  			<a class="button" @click="resetGame">Новая игра!</a>
	  		</div>

	  		<div v-for="attack in attacks.slice(1).reverse()">
	  			<p>Монстр {{monsterName}} атаковал на {{attack[0]}} очков здоровья!</p>
	  			<p>Игрок {{playerName}} атаковал на {{attack[1]}} очков здоровья!</p>
	  		</div>
	  	</div>
	</div>


	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				defaultPlayerHP: 100,
				defaultMonsterHP: 100,
				playerName: 'Акакий Акакиевич',
				monsterName: 'Чубакка',
				playerHP: 0,
				monsterHP: 0,
				attacks:[[]]
			},
			computed:{
				gameOver: function(){
					return (this.playerHP <= 0 || this.monsterHP <= 0);
				},
				playerIsIll: function(){
					return (this.playerHP <= this.defaultPlayerHP / 2.0);
				},
				monsterIsIll: function(){
					return (this.monsterHP <= this.defaultMonsterHP / 2.0);
				},
			},
			methods: {
				gameTurn: function(){
					var tP = Math.random()*10;
					var tM = Math.random()*10;
					this.playerHP = this.playerHP - tP;		
					this.monsterHP = this.monsterHP - tM;
					this.attacks.push([tP.toPrecision(2),tM.toPrecision(2)]);
				},				
				resetGame: function(){
					this.playerHP = this.defaultPlayerHP;
					this.monsterHP =  this.defaultMonsterHP;
					this.attacks = [[]];
				},
				giveUp: function(){
					this.playerHP = 0;
				}
			},
			created(){
				this.resetGame();
			}
		})
	</script>  	
  </body>
</html>